*{
    margin: 0;
    padding

}


.pragrap{
     font-size: 10px;
    margin-top: 10px;
    padding-top:5px;
    
    
    
}

.img{
    margin-top: 30px;
    width: 200px;
    padding:10px
}

.main{

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(241, 212, 178);
}
.button{
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
     font-size:13px;
    margin-top: 10px;
    background-color: rgb(241, 77, 18);
    border:none;
    cursor: pointer; 
}
.button a{
   text-decoration: none;
}

.cointaner{
    margin-top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.top-pragrap{
    
    font-size: 15px;
    text-justify: distribute;
}
.top-cointaner{
    padding-bottom: 10px;
    
}



.main-img{
    margin-right:100px;
    margin-top:40px;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.main-img1{ 
    margin-left:130px;
    height: 250px;
    width: 200px;
    padding-left:px;
    background-color: lavenderblush;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;

}
.main-img2{
    height:250px;
    width: 200px;
    margin-left:120px;
    background-color: rgb(193, 198, 198);
    border-top-left-radius:100px;
    border-top-right-radius: 100px;
    border-style:solid;
    


}
.main-img3{
    width: 200px;
    margin-left:130px;
    background-color: lightblue;
    height:250px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;
}
.under-value{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
     font-family: 'Times New Roman', Times, serif;


}
.value1{
    margin-left: 130px;
    margin-top: 10px;


}
.value2{
    margin-left:10px;
    margin-top: 10px;

}
.value3{
    margin-right: 100px;
    margin-top: 10px;
 }    
  