*{
    margin: 0;
    padding

}


.pragrap{
     font-size: 10px;
    margin-top: 10px;
    padding-top:5px;
    
    
    
}

.img{
    margin-top: 30px;
    width: 200px;
    padding:10px
}

.main{

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(241, 212, 178);
}
.button{
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
     font-size:13px;
    margin-top: 10px;
    background-color: rgb(241, 77, 18);
    border:none;
    cursor: pointer; 
}
.button a{
   text-decoration: none;
}

.cointaner{
    margin-top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.top-pragrap{
    
    font-size: 15px;
    text-justify: distribute;
}
.top-cointaner{
    padding-bottom: 10px;
    
}



.main-img{
    margin-right:100px;
    margin-top:40px;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.main-img1{ 
    margin-left:130px;
    height: 250px;
    width: 200px;
    padding-left:px;
    background-color: lavenderblush;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;

}
.main-img2{
    height:250px;
    width: 200px;
    margin-left:120px;
    background-color: rgb(193, 198, 198);
    border-top-left-radius:100px;
    border-top-right-radius: 100px;
    border-style:solid;
    


}
.main-img3{
    width: 200px;
    margin-left:130px;
    background-color: lightblue;
    height:250px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;
}
.under-value{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
     font-family: 'Times New Roman', Times, serif;


}
.value1{
    margin-left: 130px;
    margin-top: 10px;


}
.value2{
    margin-left:10px;
    margin-top: 10px;

}
.value3{
    margin-right: 100px;
    margin-top: 10px;
 }    
  
 .logo{
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: space-around;
    background-color:gray;



}
.menu-item{
    padding-left: 100px;
    padding-right: 100px;
}
.logo1{
    margin-left:120px;
    height: 50px;
    margin-top:18px;
}
.logo2{
    margin-right:20px;
    height: 50px;
    margin-top:18px ;

}
.logo3{
    margin-right:120px;
    height: 50px;
    margin-top:18px; 
}
.logo-cointan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    margin-bottom:70px;
    padding-top: 10px;
    background-color: gray;

    

}
.logo-cointan1{
    
    margin-left: 120px;
    padding-bottom: 30px;
   
}
.logo-cointan2{
    margin-right:20px;
    padding-bottom: 30px;


}
.logo-cointan3{
    margin-right:120px;
    padding-bottom: 30px;

}

.midtarm-cointant{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    padding-bottom: 40px;
}
.midtarm-img{
    width: 200px;
}
.midtarm-title{
   margin-left: 60px;

}
.span{
    color: rgb(248, 119, 73);


}
.midtarm-pra{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;

}
.midtarm-button{
    width: 60px;
    height: 25px;
    margin-left:180px;
    margin-top:15px;
    background-color: rgb(207, 206, 206);
    border-radius: 5px;
    border: none;
   cursor: pointer;
   color: lavender;

}
.midtarm-button :hover{
    background-color: rgb(230, 240, 248);

}
.midtarm-button a{
    text-decoration: none;

}
.section-img{
    width:220px;
    height: 220px;
    align-items: center;
    margin-left: 70px;
    padding-left:1px;

}
.section-title{
    margin-top: 10px;
    margin-left:260px;
     padding:10px; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 

  
}
.section-paragrap{
     margin-right:300px;
     font-size: 15px;    
     margin-bottom: 15px; 
    text-align:center; 
}
.section-img1{ 
     margin-left: 80px;
    width: 200px;
    height: 200px;
    padding-right: 30 px;
    justify-content:space-around;
    align-items: center;
 }    
 

